@import "_base.scss";

.right{
	float: right;
	right: 15px;
}

.loginLabel{
	text-align	: center;
}

.fbLogin{
	text-align: center;
	background-color: #5F78AB;
	border-bottom	: 1px solid #1A356E;
	border-radius	: 1px 1px 1px 1px;
	border-top		: 1px solid #879AC0;
	color			: white;
	font-family		: Arial;
	font-size		: 14px;
	font-weight		: 200;
	margin			: 10px auto;
	overflow		: hidden;
	padding			: 3px 7px;
	cursor			: pointer;
	display			: block;
	width			: 130px;
}

.dashboard{
	font-size	: 20px;
	.tmp-dashboard-item{
		margin-top	: 20px;
	}
}

.required{
	&:after{
		content: '*';
	}
}

.header{
	font-size: 20px;
	margin: 5px 15px 0;
}

.inputLabel{
	display: inline-block;
}

.instruction{
	font-style: italic;
    margin-left: 10px;
}

.button{
	display: inline-block;
	&.right{
		.ui-icon-arrow-r{
			right: 10px;
			left: auto;
		}
		&.ui-btn-icon-left{
			.ui-btn-text{
				top: 1px;
				padding-left: 15px;
			}
			.ui-btn-inner{
				padding-left: 0;
				padding-right: 40px;
			}
		}
	}
}

.ui-listview-filter{
	margin: 0;
}